 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                                 <span class="post-date">
                        {% assign m = post.date | date: "%-m" %}
                        {{ post.date | date: "%-d" }}
                        {% case m %}
                          {% when '1' %}Janvier
                          {% when '2' %}Février
                          {% when '3' %}Mars
                          {% when '4' %}Avril
                          {% when '5' %}Mai
                          {% when '6' %}Juin
                          {% when '7' %}Juillet
                          {% when '8' %}Août
                          {% when '9' %}Septembre
                          {% when '10' %}Octobre
                          {% when '11' %}Novembre
                          {% when '12' %}Décembre
                        {% endcase %}
                        {{ post.date | date: "%Y" }} par {{ post.author }}
                    </span>
                            <hr class="star-primary">
                            <img src="assets/{{ post.img }}" class="img-centered" alt="{{ post.alt }}">
                            <p class="text-left">{{ post.content }}</p>
                        
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
