
    <!-- News section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
                
               <div class="posts">
                    {% for post in site.posts %}
                    <div class="post">
                        <h1 class="post-title">
                        <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}">
                            {{ post.title }}</a>
                        </h1>
                    
                <span class="post-date">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                  {% when '1' %}Janvier
                  {% when '2' %}Février
                  {% when '3' %}Mars
                  {% when '4' %}Avril
                  {% when '5' %}Mai
                  {% when '6' %}Juin
                  {% when '7' %}Juillet
                  {% when '8' %}Août
                  {% when '9' %}Septembre
                  {% when '10' %}Octobre
                  {% when '11' %}Novembre
                  {% when '12' %}Décembre
                {% endcase %}
                {{ post.date | date: "%Y" }} par {{ post.author }}
                </span>
                
                    {{ post.content }}
                  </div>
                  {% endfor %}
                </div>
                
            </div>
        </div>
    </section>
