<!-- About Section -->
    <section class="success" id="roster">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Roster</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">

<table id="myRoster" class="table table-bordered">
<tr>
  <!--<th></th>-->
  <th><b>Personnage</b></th>
  <th class="default-sort">Rôle</th>
  <th>Rang</th>
  <th>Haut-faits</th>
</tr>
{% for member in site.data.wow-api.members %}
{% if member.rank <= 2 %}
<tr>
    <!--<td><img src="http://render-api-eu.worldofwarcraft.com/static-render/eu/{{ member.character.thumbnail }}"></td>-->
  <td><a href="https://eu.battle.net/wow/fr/character/Illidan/{{ member.character.name }}/"><img src="http://media.blizzard.com/wow/icons/18/class_{{ member.character.class }}.jpg" alt="" />&nbsp;<b>{{ member.character.name }}</b></a></td>
  <td>
    {% if page.roles contains member.character.name %}
      {{ page.roles[member.character.name] }}
    {% else %}
      dps
    {% endif %}
  </td>
  <td>{{ page.ranks[member.rank] }}</td>
  <td>{{ member.character.achievementPoints }}</td>
</tr>
{% endif %}
{% endfor %}
</table>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-star"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
